body {
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 1em;
}

.formFit{
    margin-left: 2px;
    width: fit-content;
}

/*forms.php*/
#toppings {
    width: 155px;
}

#username {
    width: 140px;
}

#pizzaEmail {
    width: 140px;
}

#orderField1 {
    width: 480px;
    margin-left: 2px;
}

#orderField2{
    width: 480px;
    margin-left: 2px;
}

#pizzaSubmit{
    margin-left: 2px;
}

#taxClear{
    margin-right: 60px;
}

/*mysql.php*/
#customerDetails{
    margin-left: 2px;
    width: 450px;
}

#custSubmit{
    margin-left: 2px;
}

/*crud.php*/
#productForm{
    margin-left: 395px;
    width: fit-content;
}

#displayTableHeader{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.displayTableBody{
    border: 1px solid black;
    width: 200px;
    height: 110px;
}

/*register.php*/
#regSubmit{
    margin-left: 2px;
}

#regConditions{
    vertical-align: middle;
}

.error{
    color: darkred;
    font-weight: bold;
}

/*search.php*/
.searchTable{
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: thin solid black
}

.searchTable thead tr{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    background-color: blueviolet;
    color: #ffffff;
}

.searchTable th, td {
    padding: 12px 15px;
}

.searchTable tbody td{
    border: thin solid black;
    width: 150px;
    height: 100px;
}