body {
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 1em;
}

/*forms.php*/
#toppings {
    width: 155px;
}

#username {
    width: 140px;
}

#pizzaEmail {
    width: 140px;
}

.formFit{
    margin-left: 2px;
    width: fit-content;
}

#orderField1 {
    width: 480px;
    margin-left: 2px;
}

#orderField2{
    width: 480px;
    margin-left: 2px;
}

#pizzaSubmit{
    margin-left: 2px;
}

#taxClear{
    margin-right: 60px;
}

/*mysql.php*/
#customerDetails{
    margin-left: 2px;
    width: 450px;
}